
# Build Directories
.deps/
.objs/

# Bundled Dependency Directories
lib/logs/
lib/local/
lib/objects/
lib/sources/

# Debug Binaries
/libdime.a
/libdime.so
/dime
/signet
/genrec

# Stripped Binaries
/libdime-stripped.a
/libdime-stripped.so
/dime-stripped
/signet-stripped
/genrec-stripped

# Unit Test Files
/dime.check
.out/